.parent{
    
    height: 550px;
    /* background-color:rgb(113, 13, 13); */
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* justify-content: end; */
    /* align-items: center; */
    /* background-image: url("./images/wallpaper2.jpg"); */
    background-size: cover;
}
body{
    background-image: url("./images/wallpaper2.jpg");
    background-size: cover;

}
.a2{
    /* background-color: black; */
    color:white;
    text-align: center;

}

.col{
    width: 260px;
    height: 522px;
    border: 2px black solid;
    border-radius: 30px;
}
.col-1{
    background-color:black;
    color: aliceblue;
}
.col-2{
    background-color:black;
    color: aliceblue;
}
.col-3{
    background-color:black;
    color: aliceblue;
}
.col-4{
    background-color:black;
    color: aliceblue;
    align-items: center;

}
.col-5{
    background-color:black;
    color: aliceblue;
}
.col-6{
    background-color:black;
    color: aliceblue;
}
.col-7{
    background-color:black;
    color: aliceblue;
}
.col-8{
    background-color:black;
    color: aliceblue;
    border-radius: 30px;
}
img{
    width: 100%;
    height: 120px;
    border-radius:30px ;
}
button{
    width: 100px;
    height: 30px ;
    border-radius:5px ;
    background-color: rgb(58, 14, 151);
    color: aliceblue;
    text-align: center;
    justify-content: center;

    

}
button:hover{
    background-color: aliceblue;
    color: violet;
}
h3{
    text-align: center;
}
p{
    font-size: x-large;
}

div{
    text-align: center;
}